<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about-us" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact-us" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>